# 디스코드 봇 토큰 설정
DISCORD_CLIENTID=
DISCORD_TOKEN=

# 디버그 설정 [ true | false ]
DEBUG=true

## 환경 설정 [ DEV | PRODUCT ]
ENVIROMENT=DEV

## 서버 아이디 설정
ENVIROMENT_DEV_GUILDID=000000000000000000

# DEBUG=true 일때 ENVIROMENT_DEV_GUILDID서버에 슬래쉬명령어 적용할지 설정 [ true | false ]
REFRESH_SLASH_COMMAND_ON_READY=false

# 관리자 아이디 설정
ADMIN_ID=000000000000000000

# 접두사 설정
PREFIX=t;

# 임베드 색깔 설정
## discord.js ColorResolvable 참고 [ src/classes/BotClient.ts ]
EMBED_COLOR=Orange

# 데이터베이스 위치 설정
DB_FILE_PATH=./dbfile.sqlite

# 봇 ~하는중 설정
ACTIVITY=[{ "text": `/help`, time: 10 }, { "text": `${prefix}help`, "time": 10 }]

# 텍스트 변경
# 형식: [{ '\\?': '물음표', 'ㅇㅈ': '인정' }]
REPLACETEXT=[{ 'ㅇㅇ': '이응이응' }]

# embed color
EMBED_COLOR=Orange

# tts
TTS_FILE_PATH=sounds/ttsfile
SIGNATURE_FILE_PATH=sounds/signaturefile

# google tts api
TYPE=
PROJECT_ID=
PRIVATE_KEY_ID=
PRIVATE_KEY=
CLIENT_EMAIL=
CLIENT_ID=
AUTH_URI=
TOKEN_URI=
AUTH_PROVIDER_X509_CERT_URL=
CLIENT_X509_CERT_URL=
